%h1 Listing posts

%table
	%tr
		%th Title
		%th Text

	- @posts.each do |post|
		%tr
			%td= post.title 
			%td= post.text
			%td= link_to 'Show', post 			# błąd w tutorialu, było post_path
			%td= link_to 'Edit', edit_post_path(post)

%br
= link_to 'New post', new_post_path