%p= notice
%h1 Listing posts

%table
	%tr
		%th Title
		%th Text

	- @posts.each do |post|
		%tr
			%td= post.title 
			%td= post.text
			%td= link_to 'Show', post 			# błąd w tutorialu, było post_path i nie działało
			%td= link_to 'Edit', edit_post_path(post)
			%td= link_to 'Delete', post_path(post), method: :delete,  data: { confirm: 'Are you sure?'}

%br
= link_to 'New post', new_post_path